//------------------------------------------------------------layout
.header {
	position: fixed;
	top: 0;
	left: 0;

	height: var(--height-header);
	width: 100%;

	@include z-index(header);
}

//------------------------------------------------------------layout###

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	flex-wrap: wrap;
	height: 100%;
	padding: 0 3.8rem;

	&__menu {
		position: absolute;
		top: 0;
		right: 0;

		display: flex;
		flex-direction: column;
		height: 100vh;
		width: 100%;
		max-width: 28rem;

		background-color: $accent_color;

		transform: translateX(100%);
		transition: transform 0.3s ease;
	}
}

.logo {
	flex: 0 0 auto;
	max-width: 15.8rem;
	height: 2.68rem;
}
